@import '../../styles/layout.scss';
@import '../../styles/colors.scss';

.header {
  color: $dark-grey;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 6px -17px 20px 10px rgba(0,0,0,0.3);


  .header-content {
    max-width: $content-max-width;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 75px;
    padding: 15px;
    cursor: pointer;
  }

  nav {
    max-width: 42rem;
    margin: 0 auto;
    padding: 0.2rem 1.25rem;
  }
  ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }
  li {
    margin-right: 1rem;
  }
  li:first-child {
    margin-left: auto;
  }
  a {
    color: $dark-grey;
    color: rgba(0,0,0,.84);
    text-decoration: none;
  }
  
}