.TagsField {

  display: flex;

  .tag {
    padding: 5px;
    background: var(--empz-background);
    border-radius: 5px;
    color: var(--empz-foreground);
    margin: 5px;
    cursor: pointer;
  }
}