.table-list {
  background: white;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;

    .column {
      padding: 15px;
      border-right: 1px solid black;
      flex: 1;
    }
  }

  .table-header {
    font-weight: bold;
  }
}