.tableList {
  background: var(--empz-background);

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .column {
    padding: var(--empz-gap);
    border: var(--light-border);
    
    flex-basis: 100%;
    flex: 1 1 0px;
  }

  .table-header {
    font-weight: bold;
    background: var(--empz-secondary);
    color: var(--empz-foreground);
    border: var(--light-border);
  }
}