.loading-spinner {
  .lds-dual-ring {
    display: inline-block;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 0.25em solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}