.linkList {
  ul {
    list-style: none;
    display: flex;

    li {
      margin-right: var(--empz-gap);
      
      a {
        border: var(--light-border);
        padding: var(--empz-gap);
        color: var(--empz-link-color);
        text-decoration: none;
        display: block;
      }
    }
  }
}