.button {
  
  border: 0;
  border-radius: 4px;
 
  background: #33cccc;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 16px;
  transition: 0.3s ease;
  text-transform: uppercase;
  -webkit-appearance: none;

  &:hover {
    background: #248f8f;

  }

  &.alt {
    background: #fff;
    color: #00aaa5;

    &:hover {
          background: #e6e6e6;
    }
  }
}

