.button {
  background: #fff;
  border: 0;
  border-radius: 4px;
  color: #33cccc;
  color: #00aaa5;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 16px;
  transition: 0.3s ease;
  text-transform: uppercase;
  -webkit-appearance: none;

  &:hover {
    background: #e6e6e6;
  }

  &.alt {
    background: #33cccc;
    color: #fff;

    &:hover {
      background: #248f8f;
    }
  }
}

