.footer {
  background: var(--empz-foreground);
  padding-top: var(--empz-gap-double);
  padding-bottom: var(--empz-gap-double);
  padding-left: var(--empz-gap);
  padding-right: var(--empz-gap);
  color: var(--empz-background);
}
.footer .site-logo {
  margin-bottom: 24px;
  width: 40px;
}
.footer .site-logoImg {
  max-width: 100%;
}
.footer .footer-content {
  max-width: var(--empz-page-width);
  margin: 0 auto;
}
.footer .links {
  font-weight: 500;
}
.footer a {
  color: var(--empz-background);
  text-decoration: none;
}
.footer .strong {
  color: var(--empz-secondary);
  padding-right: var(--empz-gap);
}
.footer ul {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
  flex-wrap: wrap;
}
.footer li {
  padding-bottom: var(--empz-gap);
  padding-right: var(--empz-gap);
}
.footer .copy {
  color: var(--empz-secondary);
  margin-top: 30px;
}
