
.footer {
  background: var(--empz-foreground);
  padding-top: var(--empz-gap-double);
  padding-bottom: var(--empz-gap-double);
  padding-left: var(--empz-gap);
  padding-right: var(--empz-gap);
  color: var(--empz-background);

  .site-logo {
    margin-bottom: 24px;
    width: 40px;
  }

  .site-logoImg {
      max-width: 100%;
  }

  .footer-content {
    max-width: var(--empz-page-width);
    margin: 0 auto;
  }

  .links {
    font-weight: 500;

  }
  
  a {
    color: var(--empz-background);
    text-decoration: none;
  }  

  .strong {
    color: var(--empz-secondary);
    padding-right: var(--empz-gap);
  }
  
  ul {
    display: flex;
    margin-bottom: 10px;
    list-style: none;
    flex-wrap: wrap;
  }

  li {
    padding-bottom: var(--empz-gap);
    padding-right: var(--empz-gap);
  }

  .copy {
    color: var(--empz-secondary);
    margin-top: 30px;
  }
}