
.footer {
  background: var(--empz-foreground);
  padding-top: var(--empz-gap-double);
  padding-bottom: var(--empz-gap-double);
  padding-left: var(--empz-gap);
  padding-right: var(--empz-gap);
  color: var(--empz-background);
  margin-top: 120px;

  .site-logo {
    background: var(--empz-background);
    padding: 10px;
    width: 80px;
    margin-bottom: 30px;
  }

  .site-logoImg {
      max-width: 100%;
  }

  .footer-content {
    max-width: var(--empz-page-width);
    margin: 0 auto;
  }

  .links {
    font-weight: 600;

  }
  
  a {
    color: var(--empz-background);
    text-decoration: none;
  }  

  .strong {
    color: grey;
  }
  
  ul {
    display: flex;
    margin-bottom: 10px;
    list-style: none;
    flex-wrap: wrap;
  }

  li {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .copy {
    color: var(--empz-secondary);
    margin-top: 30px;
  }
}