.loadingSpinner {
  .ring:after {
    content: " ";
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 0.15em solid var(--edge-foreground);
    border-color: var(--edge-foreground) var(--light-border-color) var(--light-border-color);
    animation: lds-dual-ring 1.2s linear infinite;

  }
  &.alt .ring:after {
    border: 0.15em solid var(--edge-background);
    border-color: var(--edge-background) var(--dark-border-color) var(--dark-border-color);
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}