.button {

  border-radius: var(--empz-radius);
  border: var(--light-border);
  background: var(--empz-background);
  color: var(--empz-foreground);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 8px var(--empz-gap);
  transition: 0.3s ease;
  text-transform: uppercase;
  -webkit-appearance: none;

  &:hover {
    background: var(--empz-secondary);
  }

  &.alt {
    background: var(--empz-foreground);
    color: var(--empz-background);
    border: var(--light-border);

    &:hover {
      background: var(--empz-secondary);
    }

  }

  &.big {
    width: 100%;
  }

  &.loading {
    padding: 5px 12px;
  }
}

