.button {
  border-radius: var(--empz-radius);
  border: var(--light-border);
  background: var(--empz-background);
  color: var(--empz-foreground);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 12px var(--empz-gap);
  transition: 0.3s ease;
  -webkit-appearance: none;

  &:hover {
    background: var(--empz-secondary);
    color: var(--empz-background);
  }

  &.alt {
    background: var(--empz-foreground);
    color: var(--empz-background);
    border: var(--light-border);

    &:hover {
      background: var(--empz-secondary);
    }
  }

  

  &.success {
    background: var(--empz-success);
    color: var(--empz-background);
  }

  &.secondary {
    background: var(--empz-secondary);
    color: var(--empz-background);
  }

  &.warning {
    background: var(--empz-warning);
    color: var(--empz-background);
  }

  &.alert {
    background: var(--empz-alert);
    color: var(--empz-background);
  }
 
  &.big {
    font-size: 16px;
    padding: 24px;
    width: fit-content;
  }

  &.loading {
    padding: 5px 12px;
  }
}

