.button {
  border-radius: var(--empz-radius);
  border: var(--light-border);
  background: var(--empz-background);
  color: var(--empz-foreground);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 12px var(--empz-gap);
  transition: 0.3s ease;
  -webkit-appearance: none;
}
.button:hover {
  background: var(--empz-secondary);
  color: var(--empz-background);
}
.button.alt {
  background: var(--empz-foreground);
  color: var(--empz-background);
  border: var(--light-border);
}
.button.alt:hover {
  background: var(--empz-secondary);
}
.button.big {
  font-size: 16px;
  padding: 24px;
  width: fit-content;
}
.button.loading {
  padding: 5px 12px;
}
