.header {
  color: var(--empz-foreground);
  background: var(--empz-background);
  border-bottom: 1px solid var(--accents-2);
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 4;
}
.header .header-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--empz-gap);
}
.header .left-header {
  flex: 0.2;
}
.header .right-header {
  flex: 0.8;
}
.header .logo {
  width: 75px;
  padding: var(--empz-gap);
  cursor: pointer;
}
.header .navigation {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  align-items: center;
}
.header li {
  margin-right: 1rem;
}
@media (max-width: 600px) {
  .header li {
    font-size: 13px;
  }
}
.header li:first-child {
  margin-left: auto;
}
.header a {
  color: var(--empz-link-color);
  font-size: 14px;
  text-decoration: none;
}
