$breakpoint-tablet: 960px;

.header {
  color: var(--empz-foreground);
  background: var(--empz-background);
  display: flex;
  border-bottom: 1px solid var(--accents-2);
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 4;

  .header-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--empz-gap-double);
    width: 100%;
  }

  .logo {
    width: 32px;
    cursor: pointer;
  }

  .navigation {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }

  li {
    margin-right: 1rem;

    @media (max-width: 600px) {
      font-size: 13px;
    }
  }

  li:first-child {
    margin-left: auto;
  }
  a {
    color: var(--empz-link-color);
    display: block;
    font-size: 14px;
    text-decoration: none;
  }
}
