
$breakpoint-tablet: 960px;

.header {
  color: var(--empz-foreground);
  background: var(--empz-background);
  border-bottom: var(--light-border);
  box-shadow: 6px -17px 20px 10px rgba(0,0,0,0.3);

  
  .header-content {
    max-width: var(--empz-page-width);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--empz-gap);
  }

  .left-header {
    flex: 0.2;
  }

  .right-header {
    flex: 0.8;
  }

  .logo {
    width: 75px;
    padding: var(--empz-gap);
    cursor: pointer;

    @media (max-width: $breakpoint-tablet) {
      width: 50px;
      padding: 5px;
    }
  }
  
  .navigation {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }

  li {
    margin-right: 1rem;

    @media (max-width: 600px) {
      font-size: 13px;
    }
  }

  li:first-child {
    margin-left: auto;
  }
  a {
    color: var(--empz-link-color);
    text-decoration: none;
  }
  
}