.badge{
    padding: 0;
    position: relative;
    line-height: 0;
  span{
    background: var(--empz-foreground);
    border-radius: 24px;
    color: var(--empz-background);
    display: inline-block;
    font-size: var(--empz-form-small-font);
    padding: var(--empz-gap-quarter);
    position: relative;
    line-height: 1;
    vertical-align: middle;
  }
}

.badge.featured{
    span{
        background: var(--empz-alert);
    }
    &:before{
        animation: badgeFeatured 1.4s ease forwards infinite;
        background: var(--empz-alert);
        border-radius: 24px;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;

        @keyframes badgeFeatured {
            0%{
                transform: translate(-50%,-50%) scale(0.9);
                opacity: 0.8;
            }
            100%{
                transform: translate(-50%,-50%) scale(1.3);
                opacity: 0;
            }
        }
    }
}