.contentSummaryView {
  color: var(--empz-foreground);
  background: var(--empz-background);
  border: 1px solid var(--accents-2);
  padding: var(--empz-gap);
  border-radius: var(--empz-radius);
}
@media (max-width: 600px) {
  .contentSummaryView {
    padding: var(--empz-gap-half);
  }
}
.contentSummaryView img {
  max-width: 100%;
  width: 100%;
}
.contentSummaryView a {
  text-decoration: none;
  color: var(--empz-link-color);
}
.contentSummaryView .field {
  margin: var(--empz-gap);
}
@media (max-width: 600px) {
  .contentSummaryView .field {
    margin: var(--empz-gap-half);
  }
}
.contentSummaryView .bottomActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
