.contentSummaryView {
  color: var(--empz-foreground);
  background: var(--empz-background);
  border: var(--light-border);
  padding: var(--empz-gap);
  border-radius: var(--empz-radius);

  img {
    max-width: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: var(--empz-foreground);
  }

  .field {
    margin: var(--empz-gap);
  }

  .bottomActions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}