.contentForm {
  background: var(--empz-background);
  padding: var(--empz-gap);
  border:var(--light-border);

  .field-item {
    border-bottom:var(--light-border);
    padding-bottom: var(--empz-gap);
    padding-top: var(--empz-gap);

  }
  .label-zoneLabel {
    font-weight: bold;
    margin-bottom: var(--empz-gap);
    display: block;
  }

  .actions {
    padding-top: var(--empz-gap);
  }

  .inputText {
    padding: var(--empz-gap);
  }

  textarea {
    padding: var(--empz-gap);
  }
}